.App {
  text-align: center;
}

.App-Container {
  padding: 20px;
  width: 100vw;
  height: 100vh;
}

.App-resilia-header {
  color: #203f7d;
  font-size: large;
  font-weight: bold;
  text-align: center;
}

.App-resilia-logo {
  height: 25px;
  width: 100px;
  padding-right: 10px;
}

.App-link {
  color: #61dafb;
}

.App-message {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
}
